//un 25 de dic / 2025 pude gracias a Gravity poder unir la animacion sacada de
//youtube y funionar con mi portfolio me tomo mas de 2 semanas jeje

.curve {

    svg,
    .background {
        position: fixed;
        height: calc(100vh + 600px);
        width: 100vw;
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .background {
        background-color: black;
        transition: opacity 0s linear 0.1s;
    }

    .route {
        position: absolute;
        left: 50%;
        top: 40%;
        color: white;
        font-size: 46px;
        z-index: 101;
        transform: translateX(-50%);
        text-align: center;
    }
}