@use '../utils' as u;

.header{
  /* Habilita container queries para los descendientes */
  container-type: inline-size;
  container-name: header;

  /* ocupe todo el ancho del viewport y se coloquen al final */
  height: 90vh;
  align-items: flex-end;

  &.hero {
    display: grid;

    /* 24px por defecto (mobile-first) */
    gap: var(--space-5);


     /* Fallback por viewport */
      @include u.breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-8); /* 48px */

        background-color: rgb(19, 107, 162);
      }

      /* Encapsulaci칩n por contenedor */
      @container header (min-width: #{u.em(700)}) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-8);
      }
  }

  // Estilos para el contenido del hero
  .hero-content {
    margin: 0;
  }

  .hero-title {
    margin-block-end: 500px;
  }

  // Estilos para la imagen hero - sin m치rgenes
  .hero-img {
    display: block;      // Elimina espacio inline
    width: 100%;         // Ocupa todo el ancho
    height: auto;        // Mantiene proporci칩n
    margin: 0;           // Sin m치rgenes
    padding: 0;          // Sin padding
    object-fit: cover;   // Ajuste de imagen
  }
}