@use '../utils' as u;

.header {
  /* Habilita container queries para los descendientes */
  container-type: inline-size;
  container-name: header;

  /* ocupe todo el ancho del viewport y se coloquen al final */
  height: 65vh;
  align-items: flex-end;

  &.hero {
    display: grid;

    /* 24px por defecto (mobile-first) */
    gap: var(--space-5);


    /* Fallback por viewport */
    @include u.breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-8);
      /* 48px */

      background-color: rgb(19, 107, 162);
    }

    /* Encapsulación por contenedor */
    @container header (min-width: #{u.em(700)}) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-8);
    }
  }

  // Estilos para el contenido del hero
  .hero-content {
    margin: 0;
  }

  .hero-title {
    margin-block-end: 40%;
    margin-left: 34px;
  }

  // Estilos para la imagen hero - centrado horizontalmente, alineado al bottom
  .hero-img {
    display: block; // Elimina espacio inline
    width: 62%; // Ancho del video
    height: auto; // Mantiene proporción
    margin-left: auto; // Centra horizontalmente
    margin-right: auto; // Centra horizontalmente
    margin-top: auto; // Empuja hacia abajo (bottom)
    padding: 0; // Sin padding
    object-fit: cover; // Ajuste de imagen
    align-self: end; // Alinea al final verticalmente
    //puede que aqui sea necesario agregar los breakpoints
  }
}