@use '../utils' as u; // Asegúrate de importar tus utils


.heroCover {
    border: solid 5px #86b586;
    background-color: rgb(66, 188, 55);

    //responsive
    // Estilos SOLO para pantallas MENORES a 'medium' (aprox < 700px)
    @include u.breakpoint-down('medium') {
        padding: 1rem; // Menos padding en móviles
        background-color: rgb(18, 157, 27); // Fondo rojo solo en móviles`   

    }
}


.hero__content {
    display: flex;
    flex-direction: column;
    align-items: left;

    margin-top: 8rem;
    margin-bottom: 2rem;

    border: solid 6px rgb(195, 192, 183);
}


//styles images profile 

.hero__profile {
    margin-left: 300px;

    background-color: aquamarine;
}

.hero__profile-img {
    display: inline;
    margin-bottom: 12rem;

    border: sandybrown 3px solid;
}

.hero_img {

    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 1rem;
    padding: 0.5rem;

    border: solid 6px darkgoldenrod;
}