.inner {

    background-color: black;

    .page {
        background-color: rgb(183, 62, 62);
    }

    .slide {
        height: 100vh;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 1;
    }

}