
.navbar {
  color: var(--color-text);

  width: 100%; /*antes estaba en auto*/
  height: auto; 

  min-height: 60px;
  padding-block: var(--space-4);
  padding-inline: var(--space-4);

  font-size: 1.2rem;
  font-weight: bold;

  //estilos que agregue! Mon 10 Nov / 25
  display: grid;
  place-content: center;
  background-color: rgb(255, 236, 127);
}


.SlideTabs{
  position: relative;
  display: flex;

  border-radius: 99999px;
  padding: 0.25rem;

  color: white;
  background-color: aquamarine;

  //eliminando decoracion
  list-style-type: none;

  //bh
  -tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));;
}

.child{
  position: relative;
  z-index: 10;
  padding: 0.25rem 1rem;
  display: block;
  cursor: pointer;
  padding: 0.375rem 0.75rem;;

  /*Styles text*/
  font-size: 0.85rem;
  line-height: 1rem;

  text-transform: uppercase;
  mix-blend-mode: difference;


  /*Cambia color del texto*/
  --tw-text-opacity: ;
  color: rgb(0 0 0 / var(--tw-border-opacity));

}

.Cursor{
  position: absolute;
  z-index: 0;

  width: 4.9rem;
  height: 1.75rem;
  border-radius: 9999px;

  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

