@use '../utils' as u;

.social-links {
  // Estilos para el contenedor principal
}


.BentoSocial {
  display: grid;
  gap: var(--space-5);
  max-inline-size: 1200px;
  margin-inline: auto;

  grid-template-areas:
          "one"
          "two";

  @media (width > 660px){
      grid-template-areas:
      "one one two";

      background-color: rgb(19, 101, 164);
  }

  @media (width > 960px){
      grid-template-areas:
      "one two two";

      background-color: rgb(141, 185, 218);
  }


}


.BentoSocial>*{
  color: rgb(171, 74, 29);
  padding: 32px;
  background-color: rgb(167, 167, 167);
  border-radius: 21px;

  /*hacer un crop a la imagen interior*/
  overflow: clip;
  display: grid;
  gap: 32px;
  align-content: start;
  align-items: start;
  justify-items: start;
  text-align: start;
}

/*styles por cards*/

.BentoSocial img{
  max-width: 100%;

  border: solid red 4px;
}

/*styles por cards*/

.BentoSocial> :nth-child(1){
  grid-area: one;


  background-color: rgb(0, 255, 123);

}

.BentoSocial> :nth-child(2){
  grid-area: two;

  background-color: rgb(138, 30, 30);

}
